<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @user.username %></strong>
</h2>

<h4> Club memberships:</h4>

<ul>
  <% @user.memberships.each do |membership| %>
      <li>
        <%= link_to membership.beer_club.name, membership.beer_club %>, joined at: <%= membership.created_at.to_date.to_s%>
        <% if @user == current_user %>
            <%= link_to 'delete', membership, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user.ratings.any? %>
    <p><strong> Favorite beer:</strong> <%= @user.favorite_beer.name %> </p>
    <p><strong> Favorite brewery:</strong> <%= @user.favorite_brewery.name %> </p>
    <p><strong> Favorite style:</strong> <%= @user.favorite_style %> </p>

    <p><strong> Average rating:</strong> <%= @user.average_rating %></p>

    <p><strong>Has made <%= pluralize(@user.ratings.count, 'rating')%>:</strong></p>

    <ul>
      <% @user.ratings.each do |r| %>
          <li>
            <%= r %>
            <% if @user == current_user %>
                <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>

<% end %>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
