<% cache @brewery do %>
<h2><%= @brewery.name %></h2>
<% if not @brewery.active %>
    <span class="label label-info">retired</span>
<% end %>

<p>
  <i>Established in
    <%= @brewery.year %>
  </i>
</p>

<p>
  Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= round(@brewery.average_rating) %>
</p>

<strong><p>Beers (<%= @brewery.beers.count %>):</p></strong>

<ul>
  <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<% end %>

<% if current_user && current_user.admin %>
    <%= link_to 'change activity', toggle_activity_brewery_path(@brewery.id), method: :post, class: 'btn-xs btn-primary' %>
    <%= edit_and_destroy_buttons(@brewery) %> |
<% end %>
<%= link_to 'Back', breweries_path %>