<div>
  <br>
  <%= form_tag places_path do %>
      City: <%= text_field_tag :city, params[:city] %>
      <%= submit_tag "Search", class:'btn-xs btn-primary'%>
  <% end %>
</div>


<% if !@weather.is_a?(Array) %>
    <div class="row ">
      <div class="col-sm-9">
        <h3>Current beer weather in <%= session[:last_place_search] %>:</h3>
        <div class="col-sm-2">
          <img height="80px" width="80px" src= <%= @weather.current['condition']['icon'] %>>
        </div>
        <div class="col-sm-10">
          <%= @weather.current['condition']['text'] %><br>
          <%= @weather.current['temp_c'] %> &#8451;<br>
          Wind: <%= @weather.current['wind_kph'] %> km/h<br>
          Feels like <%= @weather.current['feelslike_c'] %> &#8451;
        </div>
      </div>
    </div>
<% end %>

<h4>Places to grab a pint: </h4>
<% if @places %>
    <table class="table table-condensed">
      <thead>
      <% Place.rendered_fields.each do |f| %>
          <th><%=f %></th>
      <% end %>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <% Place.rendered_fields.each do |f| %>
                <% if f.eql?(:name)%>
                    <td><%= link_to place.send(f), place_path(place.id)%></td>
                <% else %>
                    <td><%= place.send(f) %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>