<h3><%= @place.name %></h3>
<p><%= @place.street %> </br>
  <%= @place.zip %>, <%= @place.city %>
</p>


<div>
  <iframe
  width="50%"
  height="400"
  src="https://www.google.com/maps/embed/v1/place?q=<%= @place.name %>,<%= @place.street %>%20Rd&zoom=17
      &key=<%= @map_key %>">
  </iframe>
</div>